<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chen.imagemanage.mapper.PictureMapper">
    <insert id="insertPictureData" parameterType="java.util.List">
            INSERT INTO picturedata
            (uid,name,source,size,setName)
            VALUES
            <foreach collection="pictureList" index="index" item="picture">
                (
                    #{picture.uid,jdbcType=VARCHAR},#{picture.name,jdbcType=VARCHAR},#{picture.source,jdbcType=VARCHAR},#{picture.size,jdbcType=INTEGER},#{picture.setName,jdbcType=VARCHAR}
                )
            </foreach>
    </insert>
</mapper>
