<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chen.imagemanage.mapper.UserMapper">
    <update id="updateAvatar">
        update user
        set avatar=#{avatar}
        where username=#{userName}

    </update>

    <update id="updateUserInformation">
        update user
        set bio=#{bio},email=#{email},mobile=#{mobile},role=#{role}
        where username=#{userName}
    </update>
</mapper>
